[Desktop Entry]
Name=Anti-UAV Control Center
Comment=Distributed anti-UAV detection and monitoring system
Exec=bash -c "DISPLAY=:0 npm start --prefix /home/safsaf/Projects/UAV/UAV/control-center/electron"
Icon=/home/safsaf/Projects/UAV/UAV/control-center/frontend/public/icons/icon-192.png
Terminal=false
Type=Application
Categories=Utility;Science;
StartupNotify=true
StartupWMClass=anti-uav-control-center
